@{
    ViewBag.Title = "WebAPIIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/dataTables.editor.min.js"></script>
<script src="~/Scripts/jquery.dataTables.columnFilter.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="~/Content/editor.dataTables.min.css">
@*<link href="~/Content/CSS/custom.css" rel="stylesheet" />*@

<h2>WebAPIIndex</h2>

<div style="max-width:2500px">
    <table cellpadding="0" cellspacing="0" border="0" class="display shadow" id="results-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Title</th>
                <th>Isbn</th>
                <th>Synopsis</th>
                <th>Description</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    var editor;
    $(document).ready(function () {


        editor = new $.fn.dataTable.Editor( {
      
            ajax: {
                 // USe create: if you need to, here we are only using edit. Create will be same. Commented below
                //  create: {
                //    type: 'POST',
                //    url: '/Book/EditDatatableMethod',
                //    data: function (d) {
                //        d.Id = Object.keys(d.data)[0]
                //         // add more if needed
                //    },
                //    success: function (result) {
                //        postlogtable.ajax.reload(null, false);
                //        if (result.success) {
                //            swal({
                //                title: "Success",
                //                text: 'Row successfully added.  ',
                //                type: 'success',
                //            });
                //        }
                //        else {
                //            swal({
                //                title: "Error",
                //                text: result.responseText,
                //                type: 'error',
                //            });
                //        }
                //    },
                //    error: function (response) {
                //        swal({
                //            title: "Error",
                //            text: response.responseText,
                //            type: 'error',
                //        });
                //    }
                //},

                edit: {
                    type: 'POST',
                    url: '/Book/EditDatatableMethod',
                    data: function (d) {
                        d.Id = Object.keys(d.data)[0]
                            //d.Id = getParameterByName('Id')
                    },
                    success: function (result) {
                        console.log('success');
                        if (result.success) {
                            //postlogtable.ajax.reload(null, false);
                            $('#results-list').DataTable().ajax.reload();
                        }
                        else {
                        }
                    },
                    error: function (response) {
                        swal({
                            title: "Error",
                            text: response.responseText,
                            type: 'error',
                        });
                    }
                },

            },
			
            formOptions: {
                inline: {
                      submit: 'allIfChanged'
                }
            },
         
            table: "#results-list",
            idSrc:  'Id',


            fields: [
                { label: 'Id', name: 'Id' },
                { label: 'AuthorId', name: 'AuthorId' },
                { label: 'Title', name: 'Title' },
                { label: 'Isbn', name: 'Isbn' },
                { label: 'Synopsis', name: 'Synopsis' },
                { label: 'Description', name: 'Description' },
                { label: 'ImageUrl', name: 'ImageUrl' }

        // etc
    ]
} );


         // Activate the bubble editor on click of a table cell
    $('#results-list').on( 'click', 'tbody td:not(:first-child)', function (e) {
       editor.inline( this, {
            buttons: { label: '&gt;', fn: function () { this.submit(); } }
        } );
    });

        $('#results-list').dataTable({
            //"bFilter": true,
          dom: "Bfltip",
          //  dom: 'rti<"bottom"f><"clear">',
            "language":
            {
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
            "bProcessing": true,
            "serverSide": true,
            @*"sAjaxSource": '@Url.Action("GetBookspost","Book")',*@
            //"sAjaxSource": '/Book/GetBookspost',
             "sAjaxSource":  '/Book/DataProviderAction',
            "aLengthMenu": [[100, -1], ["Hundred", "All"]],


            //"sAjaxDataProp": "",
            "aoColumns": [


                {
                    mData: null, // to show the checkbox
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false,
                    searchable: false
                },



                {
                    "mData": "Id",
                    "bSearchable": true,
                    "bSortable": false,
                    "render": function (Data) {
                        return '<a href=\"Details/' +
                            Data + '\">View</a>';

                    }
                },

                {
                    data: null, render: function (data, type, row) {
                        // Combine the first and last names into a single table field
                        return data.AuthorId + ' ' + data.Title;
                    }
                },

                { "mData": "Isbn" },
                { "mData": "Synopsis" },
                { "mData": "Description" },
                { "mData": "ImageUrl" }

            ],
            //select: true,
            select: {
                style: 'os',
                selector: 'td:first-child'
            },


            buttons: [
                { extend: 'create', editor: editor },
                { extend: 'edit', editor: editor },
                { extend: 'remove', editor: editor }
            ],
    
              initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                   $('#dataTables-example .head .head_hide').html('');
                     var select = $('<select id="formfilter" style="m-height: 80px;"><option value="All">' + $(column.header()).text() + '</option></select>')
                        //var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
				//.search( this.value ).draw()
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();

                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });

              }

    
        }
        );


    });
</script>