@{
    ViewBag.Title = "WebAPIIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/dataTables.editor.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="~/Content/editor.dataTables.min.css">



<h2>WebAPIIndex</h2>

<div style="max-width:2500px">
    <table cellpadding="0" cellspacing="0" border="0" class="display shadow" id="results-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Title</th>
                <th>Isbn</th>
                <th>Synopsis</th>
                <th>Description</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    var editor;
    $(document).ready(function () {


        editor = new $.fn.dataTable.Editor( {
    @*ajax:  '@Url.Action("GetBookspost","Book")',*@
    ajax:  '/Book/GetBookspost',
            table: '#results-list',
    idSrc:  'Id',
    fields: [
        { label: 'Id', name: 'Id' },
        { label: 'AuthorId', name: 'AuthorId' },
        { label: 'Title', name: 'Title' },
        { label: 'Isbn', name: 'Isbn' },
        { label: 'Synopsis', name: 'Synopsis' },
        { label: 'Description', name: 'Description' },
        { label: 'ImageUrl', name: 'ImageUrl' }

        // etc
    ]
} );


         // Activate the bubble editor on click of a table cell
    $('#results-list').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.bubble( this );
    });

        $('#results-list').dataTable({
            //"bFilter": true,
            dom: "Bfrtip",
            //  dom: 'rti<"bottom"f><"clear">',
            "language":
            {
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
            "bProcessing": true,
            "serverSide": true,
            @*"sAjaxSource": '@Url.Action("GetBookspost","Book")',*@
            "sAjaxSource": '/Book/GetBookspost',
            "aLengthMenu": [[2, 5, 10, -1], ["Two", "Five", "Hundred", "All"]],


            //"sAjaxDataProp": "",
            "aoColumns": [


                {
                    mData: null, // to show the checkbox
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false,
                    searchable: false
                },



                {
                    "mData": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "render": function (Data) {
                        return '<a href=\"Details/' +
                            Data + '\">View</a>';

                    }
                },

                {
                    data: null, render: function (data, type, row) {
                        // Combine the first and last names into a single table field
                        return data.AuthorId + ' ' + data.Title;
                    }
                },

                //{ "mData": "AuthorId" },
                //{ "mData": "Title" },
                { "mData": "Isbn" },
                { "mData": "Synopsis" },
                { "mData": "Description" },
                { "mData": "ImageUrl" }

            ],
            //select: true,
            select: {
                style: 'os',
                selector: 'td:first-child'
            },


            buttons: [
                { extend: 'create', editor: editor },
                { extend: 'edit', editor: editor },
                { extend: 'remove', editor: editor }
            ],

            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    $('#dataTables-example .head .head_hide').html('');

                    var select = $('<select id="formfilter" class="filterdropdown"><option value="">' + $(column.header()).text() + '</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });

            }
        }
        );


    });
</script>