
<form role="form">
    <div class="form-group">
        <label for="Title">Title</label>
        <input id="Title" type="text" class="form-control" data-bind="value: Title" />
    </div>
    <div class="form-group">
        <label for="Excerpts">Excerpts</label>
        <input id="Excerpts" type="text" class="form-control" data-bind="value: Excerpts" />
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <input id="Content" type="text" class="form-control" data-bind="value: Content" />
    </div>
    
</form>
<input type="button" id="btnAddArticle" class="btn btn-primary" value="Add Article" data-bind="click: addArticle" />
